<a href="https://colab.research.google.com/github/SIRIGIREDDYDHANALAXMI/ML-project-1/blob/master/Collaborative.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
user_payments = pd.read_csv("//content//drive//My Drive//restaurant-data-with-consumer-ratings//userpayment.csv") 
user_cuisines = pd.read_csv("//content//drive//My Drive//restaurant-data-with-consumer-ratings//usercuisine.csv")
user_profile = pd.read_csv("//content//drive//My Drive//restaurant-data-with-consumer-ratings//userprofile.csv")

In [0]:
user_profile.isnull().sum()

userID              0
latitude            0
longitude           0
smoker              0
drink_level         0
dress_preference    0
ambience            0
transport           0
marital_status      0
hijos               0
birth_year          0
interest            0
personality         0
religion            0
activity            0
color               0
weight              0
budget              0
height              0
dtype: int64

In [0]:
print(user_payments.head(), user_payments.shape)
print(user_cuisines.head(), user_cuisines.shape)
print(user_profile.head(), user_profile.shape)

  userID          Upayment
0  U1001              cash
1  U1002              cash
2  U1003              cash
3  U1004              cash
4  U1004  bank_debit_cards (177, 2)
  userID          Rcuisine
0  U1001          American
1  U1002           Mexican
2  U1003           Mexican
3  U1004            Bakery
4  U1004  Breakfast-Brunch (330, 2)
  userID   latitude   longitude smoker  ...  color weight  budget height
0  U1001  22.139997 -100.978803  false  ...  black     69  medium   1.77
1  U1002  22.150087 -100.983325  false  ...    red     40     low   1.87
2  U1003  22.119847 -100.946527  false  ...   blue     60     low   1.69
3  U1004  18.867000  -99.183000  false  ...  green     44  medium   1.53
4  U1005  22.183477 -100.959891  false  ...  black     65  medium   1.69

[5 rows x 19 columns] (138, 19)

In [0]:
r=user_payments["Upayment"].drop_duplicates()
print(r,r.shape)

0                    cash
4        bank_debit_cards
14    MasterCard-Eurocard
20                   VISA
35       American_Express
Name: Upayment, dtype: object (5,)

In [0]:
place = pd.read_csv("//content//drive//My Drive//restaurant-data-with-consumer-ratings//geoplaces2.csv")
place_payment = pd.read_csv("//content//drive//My Drive//restaurant-data-with-consumer-ratings//chefmozaccepts.csv")
place_cuisine = pd.read_csv("//content//drive//My Drive//restaurant-data-with-consumer-ratings//chefmozcuisine.csv")
place_open = pd.read_csv("//content//drive//My Drive//restaurant-data-with-consumer-ratings//chefmozhours4.csv")
place_parking = pd.read_csv("//content//drive//My Drive//restaurant-data-with-consumer-ratings//chefmozparking.csv")

In [0]:
ratings = pd.read_csv("//content//drive//My Drive//restaurant-data-with-consumer-ratings//rating_final.csv")

In [0]:
print(ratings.head(), ratings.shape)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2 (1161, 5)

In [0]:
print(138*130)

17940

i should recommend them restaurants

In [0]:
x= ratings["userID"]
userid=x.drop_duplicates()
print(userid,userid.shape)

0       U1077
4       U1068
9       U1067
15      U1103
23      U1107
        ...
1136    U1065
1142    U1039
1146    U1130
1150    U1043
1152    U1011
Name: userID, Length: 138, dtype: object (138,)

In [0]:
y= ratings["placeID"]
placeid= y.drop_duplicates()
print(placeid,placeid.shape)

0      135085
1      135038
2      132825
3      135060
4      135104
        ...
807    132951
829    132937
933    132954
934    132955
935    132958
Name: placeID, Length: 130, dtype: int64 (130,)

In [0]:
rate_matrix = pd.pivot_table(ratings,index='userID', columns='placeID', values='rating').fillna(0)
print(rate_matrix)

placeID  132560  132561  132564  132572  ...  135104  135106  135108  135109
userID                                   ...
U1001       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
U1002       0.0     0.0     0.0     0.0  ...     0.0     1.0     0.0     0.0
U1003       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
U1004       0.0     0.0     0.0     0.0  ...     0.0     2.0     0.0     0.0
U1005       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
...         ...     ...     ...     ...  ...     ...     ...     ...     ...
U1134       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
U1135       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
U1136       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
U1137       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
U1138       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[138 rows x 130 columns]

In [0]:
g= rate_matrix.T

In [0]:

import sklearn
from sklearn.decomposition import TruncatedSVD

SVD = TruncatedSVD(n_components=12, random_state=17)
matrix = SVD.fit_transform(g)
matrix.shape

(130, 12)

In [0]:

import warnings
warnings.filterwarnings("ignore",category =RuntimeWarning)
corr = np.corrcoef(matrix)
corr.shape

(130, 130)

In [0]:
plt.plot(corr)

In [0]:
column=rate_matrix.columns
place = list(column)

lets_recommend = place.index(135104)
print(lets_recommend)

126

In [0]:

recommended  = corr[lets_recommend]
list(column[(recommended >= 0.9)])

[132560,
 132584,
 132594,
 132608,
 132609,
 132613,
 132630,
 132660,
 132663,
 132667,
 132732,
 132733,
 132740,
 135104]