<a href="https://colab.research.google.com/github/SIRIGIREDDYDHANALAXMI/ML-project-1/blob/master/Flipr2(Diuresis_time_series).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [0]:
train = pd.read_csv("//content//drive//My Drive//FLPr//Diuresis_dataset.csv", encoding = "ISO-8859-1") 
#removed comas between numbers and absolutely made it as an inter in excel file and then uploaded
test= pd.read_csv("//content//drive//My Drive//FLPr//Test_dataset.csv",encoding="ISO-8859-1")

In [93]:
train.head

<bound method NDFrame.head of        people_ID  20-Mar-20  21-Mar-20  ...  24-Mar-20  25-Mar-20  26-Mar-20
0              1        441        544  ...       1002       1216       1473
1              2        151        197  ...        400        493        607
2              3        416        515  ...        948       1150       1396
3              4        410        506  ...        928       1127       1368
4              5        390        483  ...        893       1084       1316
...          ...        ...        ...  ...        ...        ...        ...
10709      22691        134        174  ...        359        444        549
10710      22692        387        479  ...        885       1075       1303
10711      22693        177        228  ...        448        551        677
10712      22694        352        438  ...        815        991       1204
10713      22695        181        230  ...        455        559        687

[10714 rows x 8 columns]>

In [94]:

print(test.head())

   people_ID Region  Gender  ... Insurance   salary FT/month
0       5942  Delhi  Female  ...   3900000  1300000        1
1      18664  Delhi    Male  ...   1800000  1300000        1
2       5603  Delhi  Female  ...   5000000  2000000        2
3       5649  Delhi  Female  ...   3100000   600000        2
4       5099  Delhi  Female  ...   2300000  1500000        1

[5 rows x 27 columns]

In [95]:
train.dtypes

people_ID    int64
20-Mar-20    int64
21-Mar-20    int64
22-Mar-20    int64
23-Mar-20    int64
24-Mar-20    int64
25-Mar-20    int64
26-Mar-20    int64
dtype: object

In [0]:
train.isnull().sum()

In [0]:
#good , no null values
#lets transpose columns and rows as date is mentioned in rows.
x= train
x=x.T
print(x.head())
print(x.columns)

In [61]:
# t is Day only dataframe
t= x.iloc[1:,:0]
print(t.head)

<bound method NDFrame.head of Empty DataFrame
Columns: []
Index: [20-Mar-20, 21-Mar-20, 22-Mar-20, 23-Mar-20, 24-Mar-20, 25-Mar-20, 26-Mar-20]>

In [62]:
t.apply(pd.to_datetime)

Empty DataFrame
Columns: []
Index: [20-Mar-20, 21-Mar-20, 22-Mar-20, 23-Mar-20, 24-Mar-20, 25-Mar-20, 26-Mar-20]

In [63]:
#data values dataframe
d=x.iloc[0:,0:]
print(d.head())

           0      1      2      3      4      ...  10709  10710  10711  10712  10713
people_ID      1      2      3      4      5  ...  22691  22692  22693  22694  22695
20-Mar-20    441    151    416    410    390  ...    134    387    177    352    181
21-Mar-20    544    197    515    506    483  ...    174    479    228    438    230
22-Mar-20    670    253    632    621    595  ...    225    592    288    543    290
23-Mar-20    821    322    777    762    730  ...    288    725    362    666    366

[5 rows x 10714 columns]

In [64]:
#c is the people id 
c= x.iloc[0:1,0:]
print(c.head())

           0      1      2      3      4      ...  10709  10710  10711  10712  10713
people_ID      1      2      3      4      5  ...  22691  22692  22693  22694  22695

[1 rows x 10714 columns]

In [65]:
print(c.size)

10714

In [0]:
#training and validation data split
train = d[:int(0.8*(len(d)))]
valid = d[int(0.8*(len(d))):]

In [67]:
from statsmodels.tsa.vector_ar.var_model import VAR
model = VAR(endog=d)
model_fit = model.fit()
prediction = model_fit.forecast(model_fit.y, steps=len(valid))

/usr/local/lib/python3.6/dist-packages/statsmodels/tsa/base/tsa_model.py:215: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/wrapper.py:35: FutureWarning: y is a deprecated alias for endog, will be removed in version 0.11.0
  obj = getattr(results, attr)

In [0]:
#making dataframe for predicted values

pred=pd.DataFrame(index=range(0,len(prediction)),columns=[c])

for i in range(0,len(valid)):
  for j in range(0,10714):
    pred.iloc[i][j]=prediction[i][j]

In [20]:
pred.head()

     0        1        2        3      ...    10710    10711    10712    10713
0  1783.49  744.442   1691.3  1657.11  ...  1578.38  827.923  1460.32  840.514
1  2156.46  909.353  2046.18   2004.3  ...  1908.93  1009.15  1767.96  1025.19

[2 rows x 10714 columns]

In [21]:
pred.dtypes
pred=pred.astype(int)
print(pred.dtypes)

0        int64
1        int64
2        int64
3        int64
4        int64
         ...
10709    int64
10710    int64
10711    int64
10712    int64
10713    int64
Length: 10714, dtype: object

In [22]:

print(pred.head())
print(valid.head())
print(valid.shape)
print(pred.shape)

  0     1     2     3     4     5      ... 10708 10709 10710 10711 10712 10713
0  1783   744  1691  1657  1594  1575  ...  1620   674  1578   827  1460   840
1  2156   909  2046  2004  1930  1905  ...  1961   826  1908  1009  1767  1025

[2 rows x 10714 columns]
           0      1      2      3      4      ...  10709  10710  10711  10712  10713
25-Mar-20   1216    493   1150   1127   1084  ...    444   1075    551    991    559
26-Mar-20   1473    607   1396   1368   1316  ...    549   1303    677   1204    687

[2 rows x 10714 columns]
(2, 10714)
(2, 10714)

In [69]:
from math import sqrt
from sklearn.metrics import mean_squared_log_error
for i in range(0,2):
  print('rmse value for', i, 'is : ', np.sqrt(mean_squared_log_error(pred.iloc[i:i+1,:], valid.iloc[i:i+1,0:])))

rmse value for 0 is :  0.39585126036696466
rmse value for 1 is :  0.390872626180159

In [70]:
model = VAR(endog=d)
model_fit = model.fit()
yhat = model_fit.forecast(model_fit.y, steps=1)
print(yhat)
#here y_hat is 27-Mar-2020

/usr/local/lib/python3.6/dist-packages/statsmodels/tsa/base/tsa_model.py:215: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

[[1783.49431465  744.44241695 1691.30461887 ...  827.92333142
  1460.31809977  840.51382205]]

/usr/local/lib/python3.6/dist-packages/statsmodels/base/wrapper.py:35: FutureWarning: y is a deprecated alias for endog, will be removed in version 0.11.0
  obj = getattr(results, attr)

In [72]:
#submission file
yhat = yhat.astype(int)
march27 = pd.DataFrame(yhat)
x=x.T
march27=march27.T
final = pd.concat([x,march27], axis=1)
print(final)

       people_ID  20-Mar-20  21-Mar-20  ...  25-Mar-20  26-Mar-20     0
0              1        441        544  ...       1216       1473  1783
1              2        151        197  ...        493        607   744
2              3        416        515  ...       1150       1396  1691
3              4        410        506  ...       1127       1368  1657
4              5        390        483  ...       1084       1316  1594
...          ...        ...        ...  ...        ...        ...   ...
10709      22691        134        174  ...        444        549   674
10710      22692        387        479  ...       1075       1303  1578
10711      22693        177        228  ...        551        677   827
10712      22694        352        438  ...        991       1204  1460
10713      22695        181        230  ...        559        687   840

[10714 rows x 9 columns]

In [73]:
print(final["people_ID"].shape)

(10714,)

In [74]:
final = final.rename(columns={0: '27-Mar-20'}, index={'ONE': 'one'})
print(final.columns)
print(final["people_ID"].shape)

Index(['people_ID', '20-Mar-20', '21-Mar-20', '22-Mar-20', '23-Mar-20',
       '24-Mar-20', '25-Mar-20', '26-Mar-20', '27-Mar-20'],
      dtype='object')
(10714,)

In [109]:
final = pd.concat([ final['people_ID'], final["27-Mar-20"]] ,axis=1)
final.to_csv("/content/drive/My Drive/FLPr/output_file 02.csv",index=False)
print(final.head())

   people_ID  27-Mar-20
0          1       1783
1          2        744
2          3       1691
3          4       1657
4          5       1594